{% extends "base.html" %}
{% block content %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div id="modalConent" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <div class = "col-md-4">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
        <div id="marking" >
            <div class="row">
                <div id="container" class = "col-md-6"></div>
                <div  class = "col-md-6"><div id="messages" style="text-align:center"><h3>ok lets do this!</h3></div></div>
            </div>
        </div>
        <div class="panel-group" id="accordion">
            {% for question in questions %}
            <div class="panel panel-default">
                <div class="panel-heading">
                <h4 class="panel-title">
                    <a class='expander' onclick="javascript:changeText({{loop.index - 1}});" data-toggle="collapse" data-parent="#accordion" href="#session{{loop.index - 1}}">
                    Session {{loop.index - 1}}</a>
                </h4>
                </div>
                <div id="session{{loop.index - 1}}" class="panel-collapse collapse">
                    {% if question|count > 0 %}
                        <div class="table-responsive">
                            <table class="table table-hover" id="projects-list" >
                                <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>File</th>
                                    <th></th>
                                    <th>Result</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for q in question %}
                                <tr>
                                    <form class="upload-file" method="post" enctype="multipart/form-data">
                                        <td>{{q.name}}</td>
                                        <td>
                                            <fieldset>
                                                <input name="file" type="file">
                                            </fieldset>
                                        </td>
                                        <td>
                                            <fieldset>
                                                <button  class="btn btn-primary" id="upload-file-btn"  type="submit">Submit</button>
                                            </fieldset>
                                        </td>
                                        <input name='q_name' type="hidden" value="{{q.name}}">
                                        <input name='q_id' type="hidden" value="{{q.id}}">
                                        <input name='user_id' type="hidden" value="{{user_id}}">
                                    </form>
                                    <td><div id="{{q.id}}"></div></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                    <div></div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="main-div" class="col-md-8" style="min-height: 900px;">
        {{readme|markdown}} 
    </div>

{% endblock %}
{% block scripts %}
<script>
    var user_id = {{user_id}};
    var pageContent = {{course_material|tojson}};
    var cheat = {{cheatsheet|tojson}};
    var preWork = {{pre_work|tojson}};
</script>
{% endblock %}